@import '../../styles/variables';
.user-info {
  padding: 2rem 0;
  display: flex;
  flex-wrap: wrap;
  .user-info-group {
    width: 50%;
    margin-bottom: 2rem;
    padding: 0 2rem;

    &.user-info-group_full-width {
      width: 100%;
    }
  }
  .user-info-name {
    color: map-get($colors, darkSecond);
    margin-bottom: .5rem;
    font-size: 1.5rem;
  }
}