@import '../../styles/variables';
.document {
  padding: 1.5rem;
  &.document_modal {
    padding: 0;
  }
  .document__header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .document__header_left {
      display: flex;
      justify-content: flex-start;
      align-items: center;
    }
  }
  .document__icon {
    font-size: 4rem;
    color: map-get($colors, blue);
    margin-right: 1.5rem;
  }
  .document__title {
    font-size: 2rem;
    margin: 0;
  }
  .document__date {
    font-size: 1.5rem;
  }
  .document__content {
    margin-top: 3rem;
  }
  .info__item {
    display: flex;
    justify-content: flex-start;
    align-items: baseline;
    margin-bottom: 1.5rem;
    &:last-of-type {
      margin-bottom: 0;
    }
  }
  .info__title {
    width: 14.2rem;
    min-width: 14.2rem;;
    padding-right: 1.5rem;
    text-align: right;
    color: map-get($colors, darkSecond);
    font-size: 1.5rem;
  }
  .info__content {
    padding-left: 1.5rem;
    border-left: .1rem solid map-get($colors, gray);
    font-size: 1.5rem;
  }
  .document__attached-doc {
    margin-top: 4rem;
  }
  .document__actions {
    display: flex;
    justify-content: space-between;
    margin-top: 1.5rem;
  }
}

.single-document {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;

  .single-document__name {
    font-size: 1.5rem;
    font-weight: 700;
  }
}

.ant-list-item {
  border-bottom: .1rem solid map-get($colors, gray) !important; 
}
.pdf-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;

  .pdf-container__close {
    height: 4rem;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0 1rem;
    background-color: map-get($colors, gray);
  }
  .img-wrapp {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgba(map-get($colors, black), .6);
  }
  .modal-img {
    width: 50%;
    height: auto;
    margin: 0 auto;
  }
}