@import '../../styles/variables';

.form {
  border: .1rem solid map-get($colors, gray);
  border-radius: .2rem;
  background-color: map-get($colors, white);
  padding: 3rem !important;
  width: 100%;
  max-width: 40rem;
  margin: 5rem auto 0 auto !important;

  .login-form {
    max-width: 300px;
  }
  .login-form-forgot {
    float: right;
  }
  .login-form-button {
    width: 100%;
  }
}