@import '../../styles/variables';
.footer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 5rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 3rem 5rem !important;

  .footer__link {
    color: map-get($colors, darkSecond);
    margin-right: 3rem;
    text-decoration: underline;

    &:hover {
      color: map-get($colors, darkThird);
    }

    &:last-of-type {
      margin-right: 0;
    }
  }
}