@import './variables.scss';
.ant-layout-header {
  padding: 0;
  line-height: 0;
}
.ant-layout.ant-layout-has-sider {
  height: calc(100vh - 7.1rem);
}

.badge.ant-badge { 
  .ant-badge-count {
    background-color: map-get($colors, blue);
    margin-right: 1rem;
    border-radius: .2rem;
  }
}
//sider menu
.ant-layout-sider {
  background-color: transparent;
  .ant-menu {
    background-color: transparent !important;
    border-right: 0;

    .ant-menu-submenu {

      .ant-menu-submenu-title {

        &:hover {
          color: map-get($colors, dark);

          .ant-menu-submenu-arrow {
            &:before,
            &:after {
              background: linear-gradient(to right, map-get($colors, dark), map-get($colors, dark)) !important;
            }
          }
        }
      }
    }

    .ant-menu-item {
      color: map-get($colors, dark);
      border-radius: .2rem;

      a {
        &:hover {
          color: inherit !important;
        }

        i {
          font-size: 1.8rem;
        }
      }

      &.ant-menu-item-selected {
        background-color: map-get($colors, blueSecond);
        color: map-get($colors, dark);

        a {
          color: inherit;
        }
      }
    }
  }
}

//input
.ant-input {
  transition: border-color .2s linear 0s;
  will-change: border-color;
  border-radius: .2rem;
  border: solid map-get($colors, darkSecond);
  height: 3.5rem;
  font-size: 1.5rem;
  border: 1px solid map-get($colors, gray);
  background-color: transparent;
  font-family: inherit;
  color: inherit;
  box-shadow: none;
  line-height: normal;
  padding: 0 1.4rem;
  width: 100%;
}
.ant-steps {
  max-width: 40rem;
  margin: 0 auto;
}
.ant-pagination {
  &.ant-table-pagination {
    margin-right: 2rem;
  }
}
.ant-select {
  min-height: 3.8rem;
  border-radius: 0;

  .ant-select-selection {
    height: auto;
    padding-bottom: .3rem;
  }
}
.ant-select-selection {
  &.ant-select-selection--multiple {
    .ant-select-selection__rendered {
      line-height: 1.6rem;
      .ant-select-selection__choice {
        margin-top: .7rem;
      }
    }
  }
}
.ant-select-selection {
  transition: border-color .2s linear 0s;
  will-change: border-color;
  border-radius: .2rem;
  border: solid map-get($colors, darkSecond);
  height: 3.8rem;
  font-size: 1.5rem;
  border: 1px solid map-get($colors, gray);
  background-color: transparent;
  font-family: inherit;
  color: inherit;
  box-shadow: none;
  line-height: normal;
  padding: 0 1.4rem;
  width: 100%;
  .ant-select-selection__rendered {
    margin-top: .3rem;
    margin-left: 0;
    margin-right: 0;
  }
}

.ant-select-auto-complete {
  width: 100%;
  .ant-input.ant-select-search__field {
    border-radius: .2rem !important;
    height: 3.8rem;
  }
  .ant-select-selection__placeholder {
    margin-top: -0.7rem;
  }
}

.steps {
  .ant-select-selection-selected-value {
    padding-right: 0 !important;
  }
  .ant-select-arrow {
    right: 5px !important;
  }
}

.ant-select-selection__choice__content {
  white-space: inherit !important;
}

table {
  text-align: center !important;
}
.ant-col {
  margin-bottom: 1.5rem;
}

.ant-menu-item-group-title > span {
  display: flex;
  justify-content: flex-start;
  align-items: center !important;
  i {
    margin-right: 1rem;
  }
}
.ant-pagination.ant-pagination-simple {
  min-width: 17rem;
}
