@import './variables';

.container {
  width: 100%;
  max-width: 128rem;
  padding: 0 7rem;
  margin: 0 auto;
}
.content {
  background-color: map-get($colors, white);
  border: .1rem solid map-get($colors, gray);

  &.content_user {
    padding: 2rem;
  }

  &.content_padding {
    padding: 2rem 0;
  }
  &.content_small-margin {
    margin-bottom: 2rem;
  }
}
.main-content {
  &.main-content__public {
    min-height: 100vh;
    display: block !important;
  }
}

.wrapp {
  position: relative;
}