@import './variables';

.container {
  width: 100%;
  max-width: 128rem;
  padding: 0 7rem;
  margin: 0 auto;
}
.content {
  border-radius: .2rem;
  margin-bottom: 10rem;
  background-color: map-get($colors, white);
  border: .1rem solid map-get($colors, gray);

  &.content_padding {
    padding: 2rem 0;
  }
  &.content_small-margin {
    margin-bottom: 2rem;
  }
}