@import '../../styles/variables';
.header {
  background: map-get($colors, white) !important;
  border-bottom: 1px solid map-get($colors, gray);
  padding: 0 2rem 0 0 !important;
  height: auto !important;
  .header__content {
    display: flex;
    align-items: center;
    height: 7rem;
  }
  .header__left {
    min-width: 28rem;
    width: 28rem;
    text-align: center;
  }
  .header__logo {
    max-width: 20rem;
  }
  .header__user {
    flex-wrap: nowrap;
  }
  .header__input {
    margin-right: 3rem;
    max-width: 46rem;;
  }
  .header__setting {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .user {
    font-size: 1.5rem;
    cursor: pointer;

    .user__logout-btn {
      margin-left: 1rem;
      color: map-get($colors, orange);
    }
  }
}