@import '../../styles/variables';
.header {
  background: map-get($colors, white) !important;
  border-bottom: 1px solid map-get($colors, gray);
  height: 70px !important;
  padding: 1rem !important;
  .header__content {
    display: flex;
    align-items: center;
  }
  .header__left {
    min-width: 29rem;
    width: 29rem;
    text-align: center;
  }
  .header__logo {
    max-width: 20rem;
  }
  .header__user {
    min-width: 20rem;
    flex-wrap: nowrap;
    position: relative;
  }
  .header__input {
    margin-right: 3rem;
    max-width: 46rem;;
  }
  .header__setting {
    max-width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 2rem;
  }
  .header-setting-item {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-left: 1rem;
  }
  .user {
    font-size: 1.5rem;
    cursor: pointer;

    .user__logout-btn {
      margin-left: 1rem;
      color: map-get($colors, orange);
    }
  }
  .header-data {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
}
.user__dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  margin: .5rem 0 0 0;
  padding: 0;
  list-style: none;
  border: .1rem solid map_get($colors, gray);
  background-color: #fff;
  z-index: 5;
  box-shadow: -9px 9px 5px -5px rgba(0, 0, 0, 0.1);
}
.user__dropdown__item {
  height: 5rem;
  padding: 1rem 1rem 1rem 2rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  transition: .3s ease-in;
  position: relative;
  border-bottom: .1rem solid rgba(map_get($colors, gray), .5);
  &:hover {
    background-color: rgba(map_get($colors, gray), .3);
  }
}
