@import '../../styles/variables';
.document-table {

}
.ant-table-title {
  background-color: #fafafa;
  border-bottom: .1rem solid map-get($colors, gray);
  top: 0 !important;
}
.table__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
  .table-header__search {
    width: 100%;
    // max-width: 55rem;
  }
}
.ant-table-tbody {
  .ant-table-row {
    td:nth-of-type(2),
    td:nth-of-type(3) {
      text-align: left !important;
    }
  }
}
.ant-table-thead > tr > th {
  text-align: center !important;
}
.table-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .table-footer-left {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  .table-footer__item {
    &:first-of-type {
      margin-right: 1rem;
    }
  }
}